<div class="col-1 bg-dark-grey side-bar bl h-100 px-0 t-align-c flex-col">
  <div class="white pb-xl-3 py-5 logo">
    <i class="fab fa-slack fa-4x"></i>
  </div>
  {{#each problemIds as |id index|}}
    {{#link-to
      problemRoute
      id
      class="white d-block v-align-ma py-4 pointer"
    }}
      <ProblemStatus
        @problem_id={{id}}
        @contest={{contest}} as |status|>
        {{#if (eq status.score 0)}}
          <span class="font-lg red">&#10625;</span>
        {{else if (not status.score)}}
          <span class="font-lg grey">&#10625;</span>
        {{else if (and (gt status.score 0) (lt status.score 100))}}
          <span class="font-lg yellow">&#10625;</span>
        {{else}}
          <span class="font-lg green">&#10625;</span>
        {{/if}}
        <i class="fas fa-code mx-1 mx-xl-3 font-mds"></i>
        <span class="font-xl extra-bold">{{inc index}}</span>
      </ProblemStatus>
    {{/link-to}}
  {{/each}}
  {{#each quizIds as |id index|}}
    {{#link-to
      quizRoute
      id
      class="white d-block v-align-ma py-4 pointer"
    }}
      <i class="fas fa-puzzle-piece mx-1 mx-xl-3 font-mds"></i>
      <span class="font-xl extra-bold">{{inc index}}</span>
    {{/link-to}}
  {{/each}}
</div>