<div class="border-card p-md-5 p-4 c-daily-goal-card mb-5">
  <h4>Current Level</h4>
  <div class="font-sm orange bold">Level {{if level level.level 0}}<i class="fas fa-crown pl-2"></i></div>
  {{yield}}
  <div class="divider-h my-4"></div>
  <h4>Unlock Badge</h4>
  {{#if level}}
    <div class="font-xs">Complete {{sub level.nextRequiredSubmissionCount level.perfectSubmissionCount}} more consecutive DCB’s to unlock badge</div>
    <img src="/images/hexagon.jpg" alt="Badge Logo" class="badge mt-5 mb-3 mx-auto w-30" />
    <h5 class="purple">{{level.contest.name}} Level {{level.level}}</h5>
    <progress value="{{progress}}" max="100" class="mt-4 mb-2 mx-auto w-90"></progress>
    <h6 class="bold">{{level.perfectSubmissionCount}} of {{level.nextRequiredSubmissionCount}} challenges completed</h6>
  {{/if}}
</div>
