<div class="col-12 dcb-body">
  <div class="c-summary row mb-5 no-gutters justify-content-center t-align-c">
    <div class="col-12 dcb-body">
      <h2>DAILY CODE BYTES (DCB’s)</h2>
      <h5 class="bold pt-2">Your daily dose of programming. One question each day, to see what you are made of. </h5>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-12 col-md-8">
      {{#if top_problem}}
        <DcbHeader @contest={{contest}} @top_problem={{top_problem}} class="pb-5" />
      {{/if}}
      <div class="border-card">
        <div class="row no-gutters justify-content-between">
          <div class="col-12">
            <h4 class="mb-2">
              Previous DCBs
            </h4>
            <div class="font-xs mb-2">
              These Code Bytes are finished. You'll be awarded partial score for these problems.
            </div>
          </div>
        </div>
        {{!-- <ProblemList 
          @route="dcb.problem"
          @problems={{previous_problems}} 
          @theme="blue" /> --}}
      </div>
    </div>
    <div class="col-12 col-md-4 mt-md-0 mt-5">
      {{#if session.isAuthenticated}}
        <ContestStreakView 
          @contest={{contest}}
          @problem={{top_problem}}
          @streakComponent={{component 'daily-goal-card'}} 
          class="pb-5" />
      {{/if}}
      <div class="border-card px-0">
        <h5 class="t-align-c">Leaderboard</h5>
        <LeaderboardView
          @for="contest"
          @theme="blue"
          @contestId={{contest.id}} />
      </div>
    </div>
  </div>
</div>