<div class="col-12 dcb-body">
  <div class="c-summary row mb-5 no-gutters justify-content-center t-align-c">
    <div class="col-12 dcb-body">
      <h2>DAILY CODE BYTES (DCB’s)</h2>
      <h5 class="bold pt-2">Your daily dose of programming. One question each day, to see what you are made of. </h5>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-8">
      {{#if top_problem}}
        <DcbHeader @contest={{contest}} @top_problem={{top_problem}} class="pb-5" />
      {{/if}}
      <ProblemList @problems={{previous_problems}} @title="Previous DCBs" />
    </div>
    <div class="col-4">
      <DailyGoalCard @level={{currentContestLevel}} class="pb-5">
        <div class="divider-h my-4"></div>
        <h4>My Badges</h4>
        <div class="row badge-scroll my-4">
          <div class="col-4 col-lg-3">
            <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
          </div>
          <div class="col-4 col-lg-3">
            <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
          </div>
          <div class="col-4 col-lg-3">
            <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
          </div>
        </div>
      </DailyGoalCard>
      <SmallLeaderboardView @leaderboard={{leaderboard}} />
    </div>
  </div>
</div>