<button class="button-solid button-orange mt-3 mb-2" 
  {{action (mut showRegistrationForm) true}}>
  Register
</button>

{{#if showRegistrationForm}}
  <ModalDialog 
    @onClose={{action (mut showRegistrationForm) false}} 
    @translucentOverlay={{true}} 
    @containerClass="w-50">
    <div class="br-15 overflow-hidden p-0 bg-white t-align-c">
      <FormView 
        @form={{contest.registrationForm}} 
        @onCancel={{action (mut showRegistrationForm) false}}
        @onSubmitTask={{createRegistrationTask}} />
    </div>
  </ModalDialog>
{{/if}}
