<div class="border-card p-5 bg-black white">
  <div class="row align-items-center justify-content-between">
    <div class="row no-gutters col-md-9 col-12 align-items-center">
      <div class="col-md-4 col-12 pr-2">
        <h3>{{contest.name}}</h3>
      </div>
      <div class="col-12 col-md-8 my-lg-0 my-4">
        <ul class="divided-list my-0">
          {{#if problemCount}}
            <li class="pr-4">
              <div class="list-heading font-md extra-bold mb-2 orange">{{problemCount}}</div>
              <div class="list-data font-mds">Problems</div>
            </li>
          {{/if}}
          {{#if quizCount}}
            <li class="px-4">
              <div class="list-heading font-md extra-bold mb-2 orange">{{quizCount}}</div>
              <div class="list-data font-mds">Quizzes</div>
            </li>
          {{/if}}
          <li class="px-4">
            <div class="list-heading font-md extra-bold mb-2 orange">{{moment-format contest.start_time 'D MMM h:mm A'}}</div>
            <div class="list-data font-mds">Starts</div>
          </li>
          <li class="pl-4">
            <div class="list-heading font-md extra-bold mb-2 orange">{{moment-format contest.end_time 'D MMM h:mm A'}}</div>
            <div class="list-data font-mds">Ends</div>
          </li>
        </ul>
      </div>
    </div>
    {{#if (and contest.isYetToStart (not contestStarted))}}
      <div class="mr-3">
        <Timer @to={{moment contest.start_time}} @onEnd={{action (mut contestStarted) true}} as |time|>
          <ul class="divided-list timer">
            <li class="timer-item">
              <div class="list-heading white">{{time.hours}}</div>
              <div class="list-data">Hours</div>
            </li>
            <li class="timer-item">
              <div class="list-heading white">{{time.minutes}}</div>
              <div class="list-data">Minutes</div>
            </li>
            <li class="timer-item">
              <div class="list-heading white">{{time.seconds}}</div>
              <div class="list-data">Seconds</div>
            </li>
          </ul>
        </Timer>
      </div>
    {{else}}
      <div>
        {{#if contest_attempt}}
          {{#if nextRoute.route}}
            <LinkTo
              @route={{nextRoute.route}}
              @model={{nextRoute.model}}
              class="button-solid button-orange font-sm extra-bold my-3">
              Resume Challenge
            </LinkTo>
          {{else}}
            {{#link-to
              nextRoute
              class="button-solid button-orange font-sm extra-bold my-3"
            }}
              Resume Challenge
            {{/link-to}}
          {{/if}}
        {{else}}
          <button
            class="button-solid button-orange font-sm extra-bold my-3"
            {{action (toggle 'showStartDialog' this)}} >
            Start Challenge
          </button>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>

<div class="all-center my-4">
  <img class="contest-banner" src={{contest.image}} alt={{contest.name}}>
</div>

<div class="font-xs mt-5">
  <div class="bold">Instructions</div>
  {{markdown-to-html contest.description}}
</div>

{{#if showStartDialog}}
<ModalDialog
  @translucentOverlay={{true}}
>
  <div class="overflow-hidden bg-white t-align-c">
    <div class="bg-grey py-4">
      <h5>START TEST</h5>
    </div>
    <div class="p-5">
      <div>
        Click below to start this contest. Note that if you close your
        browser, your session will resume from where you left off, but the
        timer will NOT stop.
      </div>
      <p class="bold">Please do not refresh or change browser tab!</p>
      <div>
        {{#if createAttemptTask.last.isError}}
          <span class="red">
            Maximum number of contest attempts reached.
          </span>
        {{/if}}
      </div>
      <div class="row justify-content-center mt-4">
        {{#if queued}}
          {{#if createAttemptTask.isRunning}} 
            <h5 class="orange mb-3">
              {{#if contest_attempt}}
                Initializing the Environment
              {{else}}
                Creating the Attempt
              {{/if}}
            </h5>
            <progress max="50" value={{envProgress}}></progress>
          {{else}}
            <button  
              class="button-dashed button-orange font-sm extra-bold mr-2"
              {{action (mut showStartDialog) false}} >
              <i class="fas fa-arrow-left mr-3"></i>
              <span class="d-sm-inline d-none">Take me back</span>
              <span class="d-sm-none d-inline">Back</span>
            </button>
            <button 
              class="button-solid button-orange font-sm extra-bold ml-2"
              {{action (perform createAttemptTask)}}>
              <span class="d-sm-inline d-none">Yes, start with my test</span>
              <span class="d-inline d-sm-none">Start</span>
            </button>
          {{/if}}
        {{else}}
          <p>
            <Timer @to={{queueTimeEnd}} @onEnd={{action (mut queued) true}} as |time|>
              Please wait while we queue you for the contest
              <strong>Estimated time: {{time.seconds}} seconds</strong>
            </Timer>
          </p>
        {{/if}}
      </div>
    </div>
  </div>
</ModalDialog>
{{/if}}
