<div class="border-card bg-black white position-relative p-5">
  {{#if monitorerErrorText}}
    <div class="bg-dark-grey t-align-c py-2 position-absolute w-100 top-left d-flex justify-content-center align-items-center"
      {{action 'promptCameraPermission'}}
    >
      <i class="fas fa-info-circle round orange pulse-red mr-2"></i>{{monitorerErrorText}}
      </div>
  {{/if}}
  <div class="row align-items-center justify-content-between">
    <div class="row no-gutters col-md-8 col-12 align-items-center">
      <div class="col-md-4 col-12 pr-2">
        <h3>{{contest.name}}</h3>
      </div>
      <div class="col-12 col-md-8 my-lg-0 my-4">
        <ul class="divided-list my-0">
          <li class="pr-4">
            <div class="list-heading font-md extra-bold mb-2 orange">{{contentCount}}</div>
            <div class="list-data font-mds">Challenges</div>
          </li>
          <li class="px-4">
            <div class="list-heading font-md extra-bold mb-2 orange">{{moment-format contest.start_time 'D MMM h:mm A'}}</div>
            <div class="list-data font-mds">Starts</div>
          </li>
          <li class="pl-4">
            <div class="list-heading font-md extra-bold mb-2 orange">{{moment-format contest.end_time 'D MMM h:mm A'}}</div>
            <div class="list-data font-mds">Ends</div>
          </li>
        </ul>
      </div>
    </div>
    {{#if (and (not contestRegistration) contest.acceptRegistrations)}}
      <RegisterButton
        @contest={{contest}}
        @onAfterSave={{action (perform fetchRegistrationTask)}} />
    {{/if}}
    {{#if (and contest.isYetToStart (not contestStarted))}}
      <div class="mr-3">
        <Timer @to={{moment contest.start_time}} @onEnd={{action (mut contestStarted) true}} as |time|>
          <ul class="divided-list timer">
            <li class="timer-item">
              <div class="list-heading white">{{time.days}}</div>
              <div class="list-data">Days</div>
            </li>
            <li class="timer-item">
              <div class="list-heading white">{{time.hours}}</div>
              <div class="list-data">Hours</div>
            </li>
            <li class="timer-item">
              <div class="list-heading white">{{time.minutes}}</div>
              <div class="list-data">Minutes</div>
            </li>
            <li class="timer-item">
              <div class="list-heading white">{{time.seconds}}</div>
              <div class="list-data">Seconds</div>
            </li>
          </ul>
        </Timer>
      </div>
    {{else}}
      <div>
        {{#if contest_attempt}}
          {{#if nextRoute.route}}
            <button {{action 'openTestInNewWindow'}}
              class="button-solid button-orange font-sm extra-bold my-3">
              Resume Challenge
            </button>
          {{else}}
            {{!-- {{#link-to
              nextRoute
              class="button-solid button-orange font-sm extra-bold my-3"
            }}
              Resume Challenge
            {{/link-to}} --}}
            <button {{action 'openTestInNewWindow'}}
              class="button-solid button-orange font-sm extra-bold my-3">
              Resume Challenge
            </button>
          {{/if}}
        {{else}}
          {{#if (or (not contest.acceptRegistrations) contestRegistration)}}
            <button
              class="button-solid button-orange font-sm extra-bold my-3"
              {{action (toggle 'showStartDialog' this)}} >
              Start Challenge
            </button>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
  {{#if (or contest.disallowTabSwitch contest.disallowWindowResize contest.disallowNoFace)}}
    <div class="border-card bg-gradient-pink border-none text-white p-4 mt-4">
      {{#if contest.disallowTabSwitch}}
        <i class="fas fa-info-circle font-sm"></i> Tab Switching is prohibited on this contest. You will face a penalty of {{contest.tabSwitchPenalty}} mins after {{contest.allowedTabSwitchesNumber}} faults in case you :-
        <ul>
          <li>&#8226;	Switch the current tab</li>
          <li>&#8226;	Minimize the browser or switch to any other application</li>
          <li>&#8226; Close the browser</li>
        </ul>
      {{/if}}
      <br>
      {{#if contest.disallowWindowResize}}
        <i class="fas fa-info-circle font-sm"></i> Browser Window Resize is prohibited on this contest. You will face a penalty of {{contest.windowResizePenalty}} mins every 10 secs in case you :-
        <ul>
          <li>&#8226;	Resize the browser window</li>
        </ul>
      {{/if}}
      {{#if contest.disallowWindowMove}}
        <i class="fas fa-info-circle font-sm"></i> Browser Window Movement is prohibited on this contest. You will face a penalty of {{contest.windowMovePenalty}} mins every 10 secs in case you :-
        <ul>
          <li>&#8226;	Move the browser window</li>
        </ul>
      {{/if}}
      {{#if contest.disallowNoFace}}
        <i class="fas fa-info-circle font-sm"></i> Face detection is enabled on this contest. You will face a penalty of {{contest.noFacePenalty}} mins every 5 secs after {{contest.allowedNoFacesNumber}} faults in case :-
        <ul>
          <li>&#8226;	Your face is not visible in camera.</li>
        </ul>
      {{/if}}
      {{#if contest.disallowMultipleFaces}}
        <i class="fas fa-info-circle font-sm"></i> Multiple face detection is enabled on this contest. You will face a penalty of {{contest.multipleFacesPenalty}} mins every 5 secs after {{contest.allowedMultipleFacesNumber}} faults in case :-
        <ul>
          <li>&#8226;	More than 1 face is visible in camera.</li>
        </ul>
      {{/if}}
    </div>
  {{/if}}
</div>

<div class="row">
  {{#if showLeaderboard}}
    <div class="col-md-6">
      <div class="border-card py-5 mt-4 p-0">
        <LeaderboardView
          @title ='leaderboard'
          @for = 'contest'
          @theme = 'purple'
          @contestId = {{contest.id}} />    
      </div>
    </div>
  {{/if}}
  <div class="col-md-{{if showLeaderboard "6" "12"}}">
    <div class="font-xs mt-5">
      <div class="bold">Instructions</div>
      {{markdown-to-html contest.description}}
    </div>
  </div>
</div>

{{#if showStartDialog}}
<ModalDialog
  @translucentOverlay={{true}}
>
  <div class="overflow-hidden bg-white t-align-c">
    <div class="bg-grey py-4">
      <h5>START TEST</h5>
    </div>
    <div class="p-5">
      <div>
        Click below to start this contest. Note that if you close your
        browser, your session will resume from where you left off, but the
        timer will NOT stop.
      </div>
      <p class="bold">Please do not refresh or change browser tab!</p>
      <div>
        {{#if createAttemptTask.last.isError}}
          <span class="red">
            {{#each createAttemptTask.lastErrored.error.errors as |error|}}
              <p>
                {{error.detail}}  
              </p>
            {{/each}}
            <p>
              Please drop a mail at support@codingblocks.com for help.
            </p>
          </span>
        {{/if}}
      </div>
      <div class="row justify-content-center mt-4">
        {{#if queued}}
          {{#if createAttemptTask.isRunning}}
            <div class="py-5">Starting Your Contest <span class="dot-loader"></span></div>
          {{else}}
            <button  
                class="button-dashed button-orange font-sm extra-bold mr-2"
                {{action (mut showStartDialog) false}} >
                <i class="fas fa-arrow-left mr-3"></i>
                <span class="d-sm-inline d-none">Take me back</span>
                <span class="d-sm-none d-inline">Back</span>
              </button>
              <button 
                class="button-solid button-orange font-sm extra-bold ml-2"
                {{action (perform createAttemptTask)}}>
                <span class="d-sm-inline d-none">Yes, start with my test</span>
                <span class="d-inline d-sm-none">Start</span>
              </button>
          {{/if}}
        {{else}}
          <p>
            <Timer @to={{queueTimeEnd}} @onEnd={{action (mut queued) true}} as |time|>
              Please wait while we queue you for the contest
              <strong>Estimated time: {{time.seconds}} seconds</strong>
            </Timer>
          </p>
        {{/if}}
      </div>
    </div>
  </div>
</ModalDialog>
{{/if}}
