<div class="c-hb-leaderboard">
  <div class="border-card px-0 py-5">
    <div class="pb-5 px-xl-5 px-md-3 px-5">
      <h4 class="mb-5 pt-2">Overall Leaderboard</h4>
      {{#each topThreeRows as |row index|}}
      <div class="d-flex align-items-center my-4 justify-content-between">
        <div class="row no-gutters align-items-center">
          <div class="col-4">
            <div class="img-ring s-70x70">
              <img class="round w-100 h-100"
                src={{or row.user.photo '/images/user.svg'}}
                alt="">
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-8 pl-lg-3 pl-md-0 pl-3">
            <div class="font-mds extra-bold mb-2 mt-lg-0 mt-md-2 mt-0">
              <LinkTo
                @route="users.id"
                @model={{row.user.id}}>
                {{row.user.name}}
              </LinkTo>
            </div>
            <div>{{row.score}} Points</div>
          </div>
        </div>
        <div class="font-mdxl extra-bold">#{{inc index}}</div>
      </div>
      <div class="divider-h"></div>
      {{/each}}
    </div>
    <table class="w-100">
      <thead class="font-sm extra-bold orange">
        <td class="pb-4 t-align-c">Rank</td>
        <td class="pb-4">User</td>
        <td class="pb-4">Score</td>
      </thead>
      <tbody>
        {{#if myRank}}
          <tr class="bg-gradient-orange white extra-bold">
            <td class="py-4">#{{myRank.rank}}</td>
            <td class="py-4">
              <div class="img-desc align-items-center">
                <img class="round s-30x30" src={{or myRank.user_photo '/images/user.svg'}} alt="">
                <div class="description ml-3">
                  {{myRank.user_name}}
                </div>
              </div>
            </td>
            <td class="py-4">{{myRank.score}}</td>
          </tr>
        {{/if}}
        {{#each leaderboardRows as |row index|}}
          <tr class="hover-grey">
            <td class="py-3">{{add page.offset (inc index)}}</td>
            <td class="py-3">
              <div class="img-desc align-items-center">
                <img class="round s-30x30" src="{{or row.user.photo '/images/user.svg'}}" alt="">
                <div class="description ml-3">
                  <LinkTo
                    @route="users.id"
                    @model={{row.user.id}}>
                    {{row.user.name}}
                  </LinkTo>
                </div>
              </div>
            </td>
            <td class="py-3">{{row.score}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <PaginationPill 
      @pagination={{leaderboardRows.meta.pagination}} 
      @setOffset={{action 'setOffset'}} />
  </div>
</div>