<div class="list-divided border-none">
  {{#each problems as |problem|}}
  <div class="row no-gutters pointer my-4 pb-4">
    <div class="li-left">
      <div>
        <h5>
          {{problem.name}}
          {{#if problem.dcbProblems}}
            <span class="dark-grey font-xs">({{moment-format problem.dcbProblems.start 'DD-MMM-YYYY'}})</span>
          {{/if}}
        </h5>
        <ul class="divided-list">
          <li class="px-3">
            <div class="list-heading">{{problem.difficultyString}}</div>
            <div class="list-data">Difficulty</div>
          </li>
          <li class="px-3">
            <div class="list-heading">{{problem.submissionCount}}</div>
            <div class="list-data">Submissions</div>
          </li>
          <li class="px-3">
            <div class="list-heading">100</div>
            <div class="list-data">Max Points</div>
          </li>
          {{#if problem.successRate}}
            <li class="px-3">
              <div class="list-heading">{{problem.successRate}}%</div>
              <div class="list-data">Success Rate</div>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
    <div class="li-right">
      {{yield problem}}
      
      {{#link-to route problem.id}}
        <button class={{concat "button-dashed button-" theme}}>
          Solve Challenge
        </button>
      {{/link-to}}
    </div>
  </div>
  {{/each}}
</div>
