<div class="border-card">
  <div class="row no-gutters justify-content-between">
    {{#if title}}
    <div class="col-6">
      <h4 class="mb-5">{{ title }}</h4>
    </div>
    {{yield}}
    {{/if}}
  </div>
  <div class="list-divided border-none">
    {{#each problems as |problem|}}
    <div class="row no-gutters pointer my-4 pb-4">
      <div class="li-left">
        <div>
          <h5>{{problem.name}}</h5>
          <ul class="divided-list">
            <li class="px-3">
              <div class="list-heading">{{problem.difficultyString}}</div>
              <div class="list-data">Difficulty</div>
            </li>
            <li class="px-3">
              <div class="list-heading">345</div>
              <div class="list-data">Submissions</div>
            </li>
            <li class="px-3">
              <div class="list-heading">100</div>
              <div class="list-data">Max Points</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="li-right">
        <div>
          <LinkTo
            @route={{route}}
            @model={{problem.id}}
            class="button-dashed button-{{theme}} mt-3">
            Solve Challenge
          </LinkTo>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="divider-h w-40 mx-auto"></div>
  <div class="t-align-c mt-3 bold">
    <button {{action setOffset pagination.prevOffset}} disabled={{eq pagination.currentPage 1}}>
      &lt; Prev
    </button>
    <span class="grey mx-4">
      {{or (inc currentOffset) 1}} - {{pagination.nextOffset}} of {{pagination.count}}
    </span> 
    <button {{action setOffset pagination.nextOffset}} disabled={{not pagination.nextOffset}}>
      Next &gt; 
    </button>
  </div>
</div>