<div class="list-divided border-none">
  {{#each problems as |problem|}}
  <div class="row no-gutters pointer my-4 pb-4">
    <div class="li-left">
      <div>
        <h5>
          {{problem.name}}
          {{#if problem.dcbProblems}}
            <span class="grey font-xs">({{moment-format problem.dcbProblems.start 'DD-MMM-YYYY'}})</span>
          {{/if}}
        </h5>
        <ul class="divided-list">
          <li class="px-3">
            <div class="list-heading">{{problem.difficultyString}}</div>
            <div class="list-data">Difficulty</div>
          </li>
          <li class="px-3">
            <div class="list-heading">{{problem.submissionCount}}</div>
            <div class="list-data">Submissions</div>
          </li>
          <li class="px-3">
            <div class="list-heading">100</div>
            <div class="list-data">Max Points</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="li-right">
      <button {{action toggleBookmark problem}}>
        <i class="{{if (or problem.bookmarkedBy problem.bookmark) 'fas' 'far'}} fa-bookmark font-lg pr-2"></i>
      </button>
      <div>
        {{#link-to route problem.id class=(concat "mt-3 button-dashed button-" theme)}}
          Solve Challenge
        {{/link-to}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
