{{#if banners}}
  <div class="position-relative mb-5">
    {{#carousel-container 
      transitionInterval=500 as |ui controls|}}
      <div class="carousel-body">
        {{#each banners as |banner|}}
          {{#ui.item}}
            <a href = {{banner.link}} target = "_blank"><img 
              src={{banner.image_url}}
              alt={{banner.alt_text}} 
              class="w-100 h-100"></a>
          {{/ui.item}}
        {{/each}}
      </div>
    
      {{!-- <div class="banner-nav tl" onclick={{controls.previous}}>
        <span><a href="#" class="white extra-bold">&lang;</a></span>
      </div>
      <div class="banner-nav tr" onclick={{controls.next}}>
        <span><a href="#" class="white extra-bold">&rang;</a></span>
      </div> --}}
    {{/carousel-container}}
  </div>
{{/if}}