<div class="py-4">
  <p>
    {{markdown-to-html project.details.title}}
  </p>
  <div class="extra-bold">Input Format</div>
  <div class="bg-grey br-5 w-60 px-4 py-2 my-2">
    <p>
      {{markdown-to-html "We would love to take your inputs."}}
      {{markdown-to-html project.details.input_format}}
    </p>
  </div>
  <div class="extra-bold">Constraints</div>
  <div class="bg-grey br-5 w-60 px-4 py-2 my-2">
    <p>
      {{markdown-to-html "The sky is the limit :)"}}
      {{markdown-to-html project.details.constraints}}
    </p>
  </div>
  <div class="extra-bold">Output Format</div>
  <p>
    {{markdown-to-html project.details.output_format}}
  </p>
  <div class="extra-bold">Sample Input</div>
  <div class="bg-grey br-5 w-60 px-4 py-2 my-2">
    <pre>{{project.details.sample_input}}</pre>
  </div>
  <div class="extra-bold">Sample Output</div>
  <div class="bg-grey br-5 w-60 px-4 py-2 my-2">
    <pre>{{project.details.sample_output}}</pre>
  </div>
  {{#if project.details.explanation}}
    <div class="extra-bold">Explanation</div>
    <div class="bg-grey br-5 w-60 px-4 py-2 my-2">
      {{markdown-to-html project.details.explanation}}
    </div>
  {{/if}}
</div>