<div class="row">
  <div class="col-12 col-md-8">
    <ProblemView 
      @contest={{contest}} 
      @content={{content}}
      @problem={{problem}} />
  </div>
  <div class="col-12 col-md-4">        
    {{#if content.stats.can-submit-review}}
      <RatingCard 
        class="py-4" 
        @content={{content}}
        @contest={{contest}} 
        @problem={{problem}} />
    {{/if}}
    <AuthorCard 
      class="py-4" 
      @author={{content.createdAt}} />
  </div>
</div>
