<div class="row my-4">
  <div class="col-12 col-md-8 mb-5">
    {{#if header}}
      {{component header}}
    {{else}}
      <div class="border-card p-md-4 px-3 bg-black white">
        <div class="row mx-0 align-items-center">
          <div class="col-xl-10 col-md-9 col-9">
            <div class="img-desc align-items-center justify-content-center">
              {{#if contest.image}}
                <div class="col-2">
                  <img src="{{contest.image}}" alt="" class="">
                </div>
              {{/if}}
              <div class="description t-align-l col-10">
                <h2>{{contest.name}}</h2>
                <span class="font-sm mt-1">Arrays | LinkedList | Stacks | Queues | Trees | Graphs</span>
              </div>
            </div>
          </div>
          <div>
            <div style="font-size: 2.58rem" class="extra-bold">{{contentCount}}</div>
            <div class="font-sm">PROBLEMS</div>
          </div>
        </div>
      </div>
    {{/if}}
    <div class="border-card mt-4">
      <ContestView::ContentListView 
        @status={{status}}
        @difficulty={{difficulty}}
        @tags={{tags}}
        @query={{query}}
        @onQuery={{onQuery}}
        @contest={{contest}} 
        @page={{page}} as |problemView|>
        {{#if problemView.showError}}
          You are not authorized to view problems of this contest.
        {{else}}
          <ProblemList 
            @route={{problemListRoute}}
            @theme={{or theme "orange"}} 
            @problems={{problemView.problems}} as |problem|>
            {{#if contentTypeId}}
              <button {{action 'toggleBookmark' problem}}>
                <i class="{{if (or problem.bookmarkedBy problem.bookmark) 'fas' 'far'}} fa-bookmark font-lg pr-2"></i>
              </button>
            {{/if}}
          </ProblemList>
          <PaginationPill 
            @pagination={{problemView.problems.meta.pagination}} 
            @setOffset={{action setOffset}} />
        {{/if}}
      </ContestView::ContentListView>
    </div>
  </div>

  <div class="col-12 col-md-4">
    {{yield (hash
      leaderboardComponent=(component 'leaderboard-view'
        title='leaderboard'
        for='contest'
        theme='orange'
        contestId=contest.id)
    )}}
  </div>
</div>
