<div class="pt-5">
  {{#if (not admission_contests.length)}}
    {{contest-view/empty-contest-screen}}
  {{/if}}
<InputSearch
  @placeholder="Search contests by name"
  @q={{q}}>
</InputSearch>

<Contest::ContestList 
  @filter={{filter}}
  @page={{page}} 
  @fetchContestsTask={{fetchContestsTask}} 
  @buttonText='view contest' as |typed_contests|>
  <PaginationPill 
    @pagination={{typed_contests.meta.pagination}} 
    @setOffset={{action 'setOffset' }} />
</Contest::ContestList>

</div>

