<div class="img-card c-competition-card">
  <div class="all-center">
    <div class="t-align-c content">
      <img src={{competition.banner}} alt="Logo" class="mx-auto">
    </div>
  </div>
  <div class="foot align-items-center t-align-c px-2 py-4">
    <h3 class="mt-2">{{competition.name}}</h3>
    <ul class="divided-list justify-content-center">
      <li class="px-xl-3 px-md-2 px-4 t-align-l">
        <div class="list-heading font-mds extra-bold">{{or competition.stats.contest-count '--'}}</div>
        <div class="list-data">Contests</div>
      </li>
      <li class="px-xl-3 px-md-2 px-4 t-align-l">
        <div class="list-heading font-mds extra-bold">{{or competition.stats.participant-count '--'}}</div> 
        <div class="list-data">Participants</div>
      </li>
      <li class="px-xl-3 px-md-2 px-4 t-align-l">
        <div class="list-heading font-mds extra-bold">{{or competition.stats.college-count '--'}}</div>
        <div class="list-data">Colleges</div>
      </li>
    </ul>
    {{#link-to "competitions.id" competition.id tagName="button" class="button-solid button-orange extra-bold mt-4 mb-2 mx-auto"}}
      Participate
    {{/link-to}}
  </div>
</div>