<div class="c-code-window flex-col">
  <div class="d-flex white bg-dark-grey align-items-center justify-content-between py-4 w-100 top-bar">
    <div class="col-xl-7 col-lg-6 col-5 offset-1">
      <h2>{{contest.name}}</h2>
      <div class="font-sm">This is a timed contest. You have limited attempts to attempt this test.</div>
    </div>
    <div class="mx-3">
      <Timer 
        @to={{contest_attempt.end_time_moment}} as |time| >
        <ul class="divided-list timer font-xs d-inline mr-4">
          <li class="timer-item pr-md-3 pr-2">
            <div class="list-heading font-xl bold">{{time.days}}</div>
            <div class="list-data">Days</div>
          </li>
          <li class="timer-item pr-md-3 pr-2">
            <div class="list-heading font-xl bold">{{time.hours}}</div>
            <div class="list-data">Hours</div>
          </li>
          <li class="timer-item pr-md-3 pr-2">
            <div class="list-heading font-xl bold">{{time.minutes}}</div>
            <div class="list-data">Minutes</div>
          </li>
          <li class="timer-item pr-md-3 pr-2">
            <div class="list-heading font-xl bold">{{time.seconds}}</div>
            <div class="list-data">Seconds</div>
          </li>
        </ul>
        <button 
          class="button-solid button-orange font-sm extra-bold mx-3"
          {{action (perform submitTask)}}>
          Submit Test
        </button>
      </Timer>
    </div>
  </div>
  <div class="row no-gutters flex-1 w-100">
    <FullScreenProblemList
      @problem={{problem}}
      @contest={{contest}} />
    <div class="col-11 offset-1">
      <FullScreenProblemView
        @problem={{problem}}
        @contest={{contest}} />
    </div>
  </div>
</div>