<div class="row no-gutters overflow-hidden code-area">
  <div class="col-6 px-xl-5 px-4 position-relative h-100 overflow-y-auto">
    <div class="row no-gutters pt-4">
      <div class="col-6 word-wrap">
        <div class="font-mds">Problem 2</div>
        <h4>{{problem.name}}</h4>
      </div>
      <div class="col-6">
        <ul class="divided-list t-align-r mt-0 pull-right">
          <li class="px-3">
            <h4 class="orange">{{problem.difficultyString}}</h4>
            <div class="list-data font-mds">Dificulty</div>
          </li>
          <li class="px-3">
            <h4 class="orange">100</h4>
            <div class="list-data font-mds">Max Points</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="divider-h mt-2"></div>
    <div class="row align-items-center no-gutters my-4">
      <div class="col-6">
        <span class="mr-2 font-mds extra-bold">Status:</span>
        <span
          class="orange font-mds extra-bold">{{or problem.topSubmission.resultParams.message 'Not Attempted'}}</span>
      </div>
      <div class="col-6">
        <div class="row no-gutters justify-content-end">
          <div class="col-xl-6 col-5">
            <progress value="{{or problem.topSubmission.score 0}}" max="100" class="d-inline-block v-align-m"></progress>
          </div>
          <div>
            <h5 class="d-inline-block pl-3">{{or problem.topSubmission.score 0}}/100 Pts</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="tab-nav-underline w-100 justify-content-start bg-white position-sticky">
        <div class="tab {{if (eq currentTab 'problem') 'active'}} pr-5 pl-0" {{action (mut currentTab) 'problem'}}>
          Problem
        </div>
        <div class="tab {{if (eq currentTab 'submissions') 'active'}} px-5" {{action (mut currentTab) 'submissions'}}>
          Submissions
        </div>
      </div>
      <div class="w-100">
        {{#liquid-if (eq currentTab 'problem')}}
        <ProblemExplanation @problem={{problem}} />
        {{else if (eq currentTab 'submissions')}}
        <SubmissionsList @contest={{contest}} @problem={{problem}} />
        {{/liquid-if}}
      </div>
    </div>
  </div>
  <div class="col-6 position-relative h-100 overflow-y-auto">
    <div class="c-code-editor w-100">
      <CodeEditorComponent @problem={{problem}} @contest={{contest}} as |judge_result|>
        {{#if judge_result}}
        <RunResult class="py-4" @judgeResult={{judge_result}} />
        {{/if}}
      </CodeEditorComponent>
    </div>
  </div>
</div>