<div class="border-card p-0 contest-card mb-5">
  <div class="px-xl-5 px-4 pt-5 white position-relative head bg-gradient-{{course.theme}}">
    <h3>{{course.name}}</h3>
    <div class="position-absolute all-center contest-card__course-logo p-4 s-100x100 br-50">
      <img src="{{course.logo}}" alt="{{course.name}}">
    </div>
  </div>
  <div class="py-5 px-lg-5 px-4 t-align-c foot">
    <div class="d-flex justify-content-between align-items-center">
      <div class="bold">{{contestCount}} Contests</div>
      {{#link-to 'contests.course.id' course.id}}
        <button class="button-solid button-orange font-sm">View</button>
      {{/link-to}}
    </div>
  </div>
</div>