<div class="img-card p-5">
  {{#if saveFeedbackTask.lastSuccessful.value}}
    Thanks for the review
  {{else}}
    <h4>Rate this problem?</h4>
    <RatingStars
      @value={{feedback.stars}}
      @scale={{5}}
      @updateRating={{action (mut feedback.stars)}} />
    <Textarea 
      @value={{feedback.body}}
      @rows="5" 
      @cols="30" 
      placeholder="Help us improve.">
    </Textarea>
    <button class="button-solid button-orange font-sm extra-bold my-3" {{action (perform saveFeedbackTask)}}>Submit Feedback</button>
  {{/if}}
</div>