<div class="{{unless fullScreen "border-card mb-5"}} p-0">
  {{#if correctAnswer}}
    {{submit-result/success-submission-message}}
  {{else}}
    {{submit-result/wrong-submission-message}}
  {{/if}}
</div>
<div class="{{unless fullScreen "border-card"}} p-0 test-cases-card">
  <div class="row no-gutters">
    <div class="col-md-2 col-4 bg-grey">
      <h5 class="p-4 test-cases-card__grey-heading">Test Cases</h5>
      <ul class="font-mds extra-bold mt-0">
        {{#each judgeResult.data.testcases as |testcase index|}}
          <li class="p-4 d-flex align-items-center {{if (eq selectedIndex index) "test-cases-card__active"}}">
            {{#if (eq testcase.result "correct")}}
              <a 
                href="#" 
                class="gradient-text-green"
                {{action (mut selectedIndex) index}}>
                Test Case {{index}}
              </a>
              <img src="\/app/images\tick_g.png" alt="" class="d-inline test-cases-card__icon ml-4">
            {{else if (eq testcase.result "wrong-answer")}}
              <a 
                href="#" 
                class="gradient-text-pink"
                {{action (mut selectedIndex) index}}>
                Test Case {{index}}
              </a>
              <img src="\/app/images\wrong_r.png" alt="" class="d-inline test-cases-card__icon ml-4">
            {{else}}
              <a 
                href="#" 
                class="gradient-text-orange"
                {{action (mut selectedIndex) index}}>
                Test Case {{index}}
              </a>
              <img src="\/app/images\error_o.png" alt="" class="d-inline test-cases-card__icon ml-4">
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-10 col-8 b-left">
      <h5 class="py-4 px-5 test-cases-card__grey-heading">Result</h5>
      <div class="py-5 px-5">
        <h6 class="bold">Compile Message</h6>
        <div class="bg-grey p-4 mt-3 mb-5">
          <div class="font-sm">{{compilerMessage}}</div>
        </div>
      </div>
    </div>
  </div>
</div>