{{!-- <ContestView
  @contest={{contest}}
  @page={{page}}
  @header={{component 'practice-header' practice=practice}}
  @status={{status}}
  @difficulty={{difficulty}}
  @tags={{tags}}
  @query={{q}}
  @onQuery={{action (mut q)}}
  @contentTypeId={{practice.id}}
  @problemListRoute="practice.contest.problem"
  @theme="purple"
  @setOffset={{action 'setOffset'}} as |contestView| >
  <LevelView 
    @contest={{contest}}
    @levelComponent={{component 'level-card'}} />
  <PracticeFilterComponent
    @status={{status}}
    @changeStatusFilter={{action (mut status)}}
    @difficulty={{difficulty}}
    @changeDifficultyFilter={{action (mut difficulty)}}
    @tags={{tags}}
    @changeTagsFilter={{action (mut tags)}} />
  <div class="border-card px-0 mt-5">
    {{contestView.leaderboardComponent theme='purple'}}
  </div>
</ContestView>
 --}}


  <div class="row my-4">
    <div class="col-12 col-md-8 mb-5">
      <div class="border-card p-md-4 px-3 bg-black white">
        <div class="row mx-0 align-items-center">
          <div class="col-xl-10 col-md-9 col-9">
            <div class="img-desc align-items-center justify-content-center">
              {{#if contest.image}}
                <div class="col-2">
                  <img src="{{contest.image}}" alt="" class="">
                </div>
              {{/if}}
              <div class="description t-align-l col-10">
                <h2>{{contest.name}}</h2>
                <span class="font-sm mt-1">Arrays | LinkedList | Stacks | Queues | Trees | Graphs</span>
              </div>
            </div>
          </div>
          <div>
            <div style="font-size: 2.58rem" class="extra-bold">{{contest.stats.content-count}}</div>
            <div class="font-sm">PROBLEMS</div>
          </div>
        </div>
      </div>
      <div class="border-card mt-4">
        <div class="right-input">
          <Input 
            class="input-text input-text-non-rounded" 
            placeholder="Search problems by name"
            @enter={{action (mut q)}}
            @type="text"
            @value={{searchQuery}} />
        </div>
        {{#if q}}
          <h5 class="bold mt-4">
            Showing results for <span class="orange">{{q}}</span>
          </h5>
        {{/if}}
        <div class="divider-h mt-4"></div>
        <Contest::ContestContentList
          @contest={{contest}}
          @page={{page}}
          @route='contests.contest.content'
          @filter={{filter}} as |contents|>
          <PaginationPill 
            @pagination={{contents.meta.pagination}} 
            @setOffset={{action (mut offset)}} />
          </Contest::ContestContentList>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <PracticeFilterComponent
        @status={{status}}
        @changeStatusFilter={{action (mut status)}}
        @difficulty={{difficulty}}
        @changeDifficultyFilter={{action (mut difficulty)}} 
        @tags={{tags}}
        @changeTagsFilter={{action (mut tags)}} />
        <div class="border-card py-5 mt-4 p-0">
          <LeaderboardView
            @title ='leaderboard'
            @for = 'contest'
            @theme = 'orange'
            @contestId = {{contest.id}} />    
        </div>
    </div>
  </div>