<ContestView
  @contest={{contest}}
  @page={{page}}
  @header={{component 'practice-header' practice=practice}}
  @status={{status}}
  @difficulty={{difficulty}}
  @tags={{tags}}
  @contentTypeId={{practice.id}}
  @problemListRoute="practice.contest.problem"
  @theme="purple"
  @setOffset={{action 'setOffset'}} as |contestView|>
  <LevelView 
    @contest={{contest}}
    @levelComponent={{component 'level-card'}} />
  <PracticeFilterComponent
    @status={{status}}
    @changeStatusFilter={{action (mut status)}}
    @difficulty={{difficulty}}
    @changeDifficultyFilter={{action (mut difficulty)}}
    @tags={{tags}}
    @changeTagsFilter={{action (mut tags)}} />
  <div class="border-card px-0 mt-5">
    {{contestView.leaderboardComponent theme='purple'}}
  </div>
</ContestView>

