<ContestView
  @contest={{contest}}
  @page={{page}}
  @header={{component 'practice-header' practice=practice}}
  @status={{status}}
  @difficulty={{difficulty}}
  @contentTypeId={{college_contest.id}}
  @problemListRoute="practice.contest.problem"
  @setOffset={{action 'setOffset'}} as |contestView|>
  <LevelView 
    @contest={{contest}}
    @levelComponent={{component 'level-card'}} />
  <PracticeFilterComponent
    @status={{status}}
    @changeStatusFilter={{action (mut status)}}
    @difficulty={{difficulty}}
    @changeDifficultyFilter={{action (mut difficulty)}} />
  <div class="border-card mt-5">
    {{contestView.leaderboardComponent}}
  </div>
</ContestView>

