<div class="row px-5">
  <div class="col-8">
    <DcbProblemCard
      class="py-4"
      @problem={{problem}} />
    <ProblemView 
      class="py-4"
      @problem={{problem}} />
    <CodeEditorComponent 
      class="py-4"
      @input={{problem.content.sample-input}}
      @codeStubs={{problem.solutionStubs}}
      @onRunTask={{onRunTask}} 
      @onSubmitTask={{onSubmitTask}} />
    {{#if onRunTask.lastSuccessful.value}}
      <RunResult 
        class="py-4"
        @judgeResult={{onRunTask.lastSuccessful.value.judge_result}} />
    {{/if}}
  </div>
  <div class="col-4">
    <DailyGoalCardSmall 
      class="py-4"
      @level={{currentContestLevel}} />
    <RatingCard class="py-4" />
    <AuthorCard class="py-4" />
  </div>
</div>
