{{problem.name}} <br>

{{problem.content.name}} <br>

{{problem.content.description}} <br>

{{problem.content.constraints}} <br>

<CodeEditorComponent 
  @onRun={{onRun}}
  @onSubmit={{onSubmit}} />

<h1>Leaderboard</h1>
<ul>
  {{#each leaderboard as |row| }}
    <li>{{row.user.name}} - {{row.score}}</li>
  {{/each}}
</ul>