<div class="row font-xs bold mx-0">
  <BreadCrumbs
    @outputStyle="foundation"
    @tagName="ul"
    @linkable={{true}}
    @crumbClass="px-3" />
</div>
<div class="row">
  <div class="col-8">
    <DcbProblemCard
      class="pb-4"
      @problem={{problem}} />
    <ProblemView 
      class="py-4"
      @contest={{contest}}
      @problem={{problem}} />
  </div>
  <div class="col-4">
    <LevelView 
      @contest={{contest}}
      @levelComponent={{component 'daily-goal-card-small'}} 
      class="pb-5" />
    {{#if problem.canSubmitReview}}
      <RatingCard 
        class="py-4"
        @contest={{contest}}
        @problem={{problem}} />
    {{/if}}
    <AuthorCard 
      @author={{problem.createdBy}}
      class="py-4" />
  </div>
</div>
