<div class="d-flex font-xs bold mb-4 mt-1">
  <BreadCrumbs
    @outputStyle="foundation"
    @tagName="ul"
    @linkable={{true}}
    @crumbClass="px-3" />
</div>
<div class="row">
  <div class="col-8">
    <DcbProblemCard
      class="pb-4"
      @problem={{problem}}
      @toggleBookmark={{action 'toggleBookmark'}} 
      @onTimerEnd={{action 'onTimerEnd'}} />
    <ProblemView 
      class="py-4"
      @contest={{contest}}
      @problem={{problem}} />
  </div>
  <div class="col-4">
    <DailyGoalCardSmall
      @topSubmission={{dcb.top_problem.topSubmission}}>
      {{#if dcbEnded}}
        <div class="divider-h my-3"></div>
        <div>
          <p class="orange">
            Note: You will be awarded partial score for this DCB, since this is an old DCB.
          </p>
        </div>
      {{/if}}
    </DailyGoalCardSmall>
    {{#if problem.canSubmitReview}}
      <RatingCard 
        class="py-4"
        @contest={{contest}}
        @problem={{problem}} />
    {{/if}}
    <AuthorCard 
      @author={{problem.createdBy}}
      class="py-4" />
  </div>
</div>
