<ContestView
  @contest={{contest}}
  @page={{page}}
  @status={{status}}
  @difficulty={{difficulty}}
  @problemListRoute="contests.course.contest.problem"
  @contentTypeId={{course_contest.id}}
  @setOffset={{action 'setOffset'}} as |contestView|>
  <PracticeFilterComponent
    @status={{status}}
    @changeStatusFilter={{action (mut status)}}
    @difficulty={{difficulty}}
    @changeDifficultyFilter={{action (mut difficulty)}} />
  <div class="border-card mt-5 px-0">
    {{contestView.leaderboardComponent}}
  </div>
</ContestView>
