<div class="col-11 offset-1">
  {{#if (eq problem.problemType 'web')}}
    <FullScreenWebView
    @problem={{problem}}
    @contest={{contest}} />
  {{else}}
    <FullScreenProblemView
      @problem={{problem}}
      @contest={{contest}} />
  {{/if}}
</div>
