<div class="c-dcb-card">
  <div class="img-card gradient-blue-lr">
    <div class="row justify-content-between">
      <div class="col-md-4 col-sm-6 col-6">
        <h5>TODAY'S CODE BYTE</h5>
        <h5 class="mt-2 mb-4">Sunday, 28th April</h5>
      </div>
      <div>
        <Timer @to={{end_time}} as |time|>
          <ul class="divided-list timer">
            <li class="timer-item">
              <div class="list-heading white">{{time.hours}}</div>
              <div class="list-data">Hours</div>
            </li>
            <li class="timer-item">
              <div class="list-heading white">{{time.minutes}}</div>
              <div class="list-data">Minutes</div>
            </li>
            <li class="timer-item">
              <div class="list-heading white">{{time.seconds}}</div>
              <div class="list-data">Seconds</div>
            </li>
          </ul>
        </Timer>
      </div>
    </div>
    <div class="divider-h bg-white dcb-divider"></div>
    <h3 class="mb-4 mt-4">{{problem.content.name}}</h3>
    <ul class="divided-list">
      <li class="list-item">
        <div class="list-heading">{{problem.difficultyString}}</div>
        <div class="list-data">Difficulty</div>
      </li>
      <li class="list-item">
        <div class="list-heading">345</div>
        <div class="list-data">Submissions</div>
      </li>
      <li class="list-item">
        <div class="list-heading">200</div>
        <div class="list-data">Max Points</div>
      </li>
      <li class="list-item">
        <div class="list-heading">24</div>
        <div class="list-data">Time (Hours)</div>
      </li>
    </ul>
  </div>
</div>