<div class="c-dcb-card">
  <div class="border-card p-5 bg-gradient-blue-lr">
    {{#unless ended}}
      <div class="row justify-content-between">
        <div class="col-md-4 col-sm-6 col-6">
          <h5>TODAY'S CODE BYTE</h5>
          <h5 class="mt-2 mb-4">{{moment-format content.dcbContents.start 'dddd, D MMM'}}</h5>
        </div>
        <div>
          <Timer @to={{end_time}} @onEnd={{action onTimerEnd}} as |time|>
            <ul class="divided-list timer">
              <li class="timer-item">
                <div class="list-heading white">{{time.hours}}</div>
                <div class="list-data">Hours</div>
              </li>
              <li class="timer-item">
                <div class="list-heading white">{{time.minutes}}</div>
                <div class="list-data">Minutes</div>
              </li>
              <li class="timer-item">
                <div class="list-heading white">{{time.seconds}}</div>
                <div class="list-data">Seconds</div>
              </li>
            </ul>
          </Timer>
        </div>
      </div>
      <div class="divider-h bg-white dcb-divider mb-4"></div>
    {{/unless}}
    <div class="row justify-content-between align-items-center mr-0">
      <div class="col-10">
        <h3 class="mb-4">{{content.name}}</h3>
      </div>
      <button {{action toggleBookmark content}}>
        <i class="{{if (or problem.bookmarkedBy problem.bookmark) 'fas' 'far'}} fa-bookmark fa-2x"></i>
      </button>
    </div>
    {{#if ended}}
      <div class="divider-h bg-white dcb-divider mb-4"></div>
    {{/if}}
    <ul class="divided-list">
      <li class="px-3">
        <div class="list-heading">{{content.difficultyString}}</div>
        <div class="list-data">Difficulty</div>
      </li>
      <li class="px-3">
        <div class="list-heading">{{content.stats.submissionCount}}</div>
        <div class="list-data">Submissions</div>
      </li>
      <li class="px-3">
        <div class="list-heading">100</div>
        <div class="list-data">Max Points</div>
      </li>
      <li class="px-3">
        <div class="list-heading">24</div>
        <div class="list-data">Time (Hours)</div>
      </li>
    </ul>
  </div>
</div>