<div class="{{unless fullScreen "border-card mb-5"}} p-0">
  {{#if isRunning}}
    <SubmissionResult::SubmissionStatus />
  {{else if isErrored}}
    <SubmissionResult::SubmissionError @output={{errorPayload}} />
  {{else if isProjectSubmission}}
    <SubmissionResult @message={{message}} @output={{output}}/>
  {{else if isSubmission}}
    <SubmissionResult::SubmissionTestcases @testcases={{testcasesPayload}} />
  {{else}}
    <SubmissionResult::SubmissionSuccess @message={{message}} @output={{output}} />
  {{/if}}
</div>