<div class="dcb-card">
  <div class="img-card bg-gradient-blue-lr">
    <div class="row justify-content-between">
      <div class="col-md-4 col-sm-6 col-6">
        <h5>TODAY'S CODE BYTE</h5>
        <h5 class="mt-2 mb-4">{{humanize_date}}</h5>
      </div>
      {{#if top_problem}}
        <Timer 
          @to={{top_problem_end}} 
          as |time|>
          <ul class="divided-list timer">
            <li class="timer-item">
              <div class="list-heading white">{{time.days}}</div>
              <div class="list-data">Days</div>
            </li>
            <li class="timer-item">
              <div class="list-heading white">{{time.hours}}</div>
              <div class="list-data">Hours</div>
            </li>
            <li class="timer-item">
              <div class="list-heading white">{{time.minutes}}</div>
              <div class="list-data">Minutes</div>
            </li>
            <li class="timer-item">
              <div class="list-heading white">{{time.seconds}}</div>
              <div class="list-data">Seconds</div>
            </li>
          </ul>
        </Timer>
      {{/if}}
    </div>
    {{#if top_problem}}
      <div class="divider-h bg-white dcb-divider"></div>
      <h3 class="mb-4 mt-4">{{top_problem.content.name}}</h3>
      <div class="font-xs mb-5">
        {{top_problem.content.description}}
      </div>
      <div class="row justify-content-between">
        <div class="col-md-8 col-sm-12 col-12">
          <ul class="divided-list">
            <li class="list-item">
              <div class="list-heading">Hard</div>
              <div class="list-data">Difficulty</div>
            </li>
            <li class="list-item">
              <div class="list-heading">345</div>
              <div class="list-data">Submissions</div>
            </li>
            <li class="list-item">
              <div class="list-heading">200</div>
              <div class="list-data">Max Points</div>
            </li>
            <li class="list-item">
              <div class="list-heading">24</div>
              <div class="list-data">Time (Hours)</div>
            </li>
          </ul>
        </div>
        <div>
          {{#link-to 'dcb.problem' top_problem.id class="button-solid-white mt-3"}}
            Solve Challenge
          {{/link-to}}
        </div>
      </div>
    {{/if}}
  </div>
</div>