<div class="row">
  <div class="col-12">
    <PracticeProblemCard 
      @problem={{problem}} />
  </div>
</div>
<div class="row">
  <div class="col-8">
    <ProblemView 
      class="py-4"
      @contest={{contest}}
      @problem={{problem}} />
  </div>
  <div class="col-4">
    <LevelView 
      @contest={{contest}}
      @levelComponent={{component 'daily-goal-card-small'}} 
      class="py-4"
      as |LevelCard|>
      <LevelCard  />
    </LevelView>
    {{#if canSubmitReview}}
      <RatingCard 
        class="py-4"
        @contest={{contest}}
        @problem={{problem}} />
    {{/if}}
    <AuthorCard 
      class="py-4"
      @author={{problem.createdBy}} />
  </div>
</div>