<div class="col-md-7 col-12 px-xl-5 px-4 pt-md-5 pt-4 h-100 position-relative">
  {{#if fetchQuestionTask.isRunning}}
  <LoadingComponent />
  {{else}}
  <QuestionContainer 
    class="overflow-y-auto no-scrollbar code-window__question-area h-100"
    @index={{index}} 
    @submission={{submission}} 
    @question={{question}} />
  {{/if}}
  <div class="position-sticky bl bg-white pb-3 d-md-block d-none">
    <div class="divider-h mb-2"></div>
    <div class="row no-gutters align-items-center justify-content-around">
      <div>
        {{#if prevIndex}}
        <button class="button-dashed button-orange font-sm extra-bold mt-2 mr-3" {{action changeQuestion prevIndex}}>
          <i class="fas fa-arrow-left mr-3"></i>Previous
          <span class="d-xl-inline d-none"> Question</span>
        </button>
        {{/if}}
      </div>
      <div>
        <button class="button-solid button-orange font-sm extra-bold mx-3 mt-2"
          onclick={{perform markQuestionForReview}}>
          Review Later
        </button>
      </div>
      <div>
        {{#if nextIndex}}
        <button class="button-dashed button-orange font-sm extra-bold mt-2 mr-3" {{action changeQuestion nextIndex}}>
          Next<span class="d-xl-inline d-none"> Question</span>
          <i class="fas fa-arrow-right ml-3"></i>
        </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="col-md-5 p-xl-5 p-4 d-md-block d-none">
  <QuizQuestionsPad 
    class="h-100"
    @questionCount={{questionCount}}>
    {{#each questionIds as |id index|}}
      <QuestionPill 
        @submissions={{quiz_attempt.quiz_submissions}} 
        @question_id={{id}} 
        @index={{index}}
        @changeQuestion={{changeQuestion}} />
    {{/each}}
  </QuizQuestionsPad>
</div>

<div
  class="col-12 d-md-none d-block code-window__question-card--phone position-fixed bl {{if hideQuestionPad 'code-window__question-card--phone--hidden' ''}}">
  <div class="row no-gutters align-items-center justify-content-around pb-4 bg-white">
    <div>
      {{#if prevIndex}}
      <button class="button-dashed button-orange font-sm extra-bold mt-2 mr-3" {{action changeQuestion prevIndex}}>
        <i class="fas fa-arrow-left"></i>
      </button>
      {{/if}}
    </div>
    <div>
      <button class="button-solid button-orange font-sm extra-bold mx-3 mt-2" onclick={{perform markQuestionForReview}}>
        Review Later
      </button>
    </div>
    <div>
      {{#if nextIndex}}
      <button class="button-dashed button-orange font-sm extra-bold mt-2 mr-3" {{action changeQuestion nextIndex}}>
        <i class="fas fa-arrow-right"></i>
      </button>
      {{/if}}
    </div>
  </div>
  <div class="py-4 t-align-c white bg-dark-grey" {{action 'toggleQuestionPad'}}>
    <div class="card-md bold">View All Questions<i class="fas ml-2 fa-lg {{if hideQuestionPad 'fa-angle-up' 'fa-angle-down'}}"></i></div>
  </div>
  <QuizQuestionsPad 
    @screenType='mobile'
    @questionCount={{questionCount}}>
    {{#each questionIds as |id index|}}
      <QuestionPill 
        @submissions={{quiz_attempt.quiz_submissions}} 
        @question_id={{id}} 
        @index={{index}}
        @changeQuestion={{changeQuestion}} />
    {{/each}}
  </QuizQuestionsPad>
</div>