<label for={{choice.id}} class="input-radio d-block mb-4">
  <input
    checked={{selected}} 
    type="radio" 
    name="group-2" 
    id={{choice.id}}
    onclick={{action selectAnswer}} />
  {{markdown-to-html choice.description}}
  <span></span>
</label>