{{#if topic}}
  <div class="my-5 d-flex justify-content-between">
    <h2>Discussion Thread</h2>
    <a class="btn button-solid button-orange" target="_blank" rel="noopener" href="https://discuss.codingblocks.com/t/{{topic.id}}">
      View All
    </a>
  </div>

  {{#each posts as |post index|}}
    {{#problem-discuss-view/post-view
      post=post
      class=(if (lt (inc index) posts.length) "b-bottom")
    }}

      <a class="btn button-solid button-orange" href="https://discuss.codingblocks.com/t/{{topic.id}}">
        Reply Now
      </a>
    {{/problem-discuss-view/post-view}}
  {{/each}}
{{else}}
  <div class="t-align-c my-5">
    No discussion about this problem for now.
    <br>
    <button class="btn button-dashed button-orange my-2" onclick={{perform createTopic}}>Start Now</button>  
  </div>
{{/if}}




{{yield}}