<div class="border-card p-md-5 p-4 c-daily-goal-card">
  <h4>Daily Goal</h4>
  <div class="font-xs">Complete daily goal to count it as streak</div>
  {{#if level}}
    <progress value="{{progress}}" max="100" class="mt-4 mb-2"></progress>
    <h6 class="bold">{{level.perfectSubmissionCount}}/{{level.nextRequiredSubmissionCount}} Points Scored</h6>
    <div class="divider-h my-4"></div>
    <h4>Unlock Badge</h4>
    <div class="font-xs">Complete 3 more consecutive DCB’s to unlock badge</div>
    <img src="/images/hexagon.jpg" alt="Badge Logo" class="badge mt-5 mb-3 w-30" />
    <h4>{{level.level}}</h4>
  {{else}}
    <progress value="0" max="100" class="mt-4 mb-2"></progress>
    <h6 class="bold"> 0/1 Points Scored</h6>
  {{/if}}
  {{yield}}
</div>