<div class="border-card py-5 px-lg-5 px-4 t-align-c">
  {{#if fetchBadgesTask.isRunning}}
    <LoadingComponent />
  {{else if badges.length}}
    <h4 class="mb-5 mt-2">Badges Earned</h4>
    <div class="flex-row align-items-center px-2">
      <span class="font-lg bold"><a href="#">〈</a></span>
      <div class="row c-card-carousel mx-3 align-items-center w-100">
        {{#each badges as |badge|}}
        <div class="col-lg-3 col-sm-4 col-6 px-2">
          <div class="flex-col all-center">
            <div class="badge-container w-40">
              <img src="{{badge.icon}}" alt="Badge Logo" class="v-align-m">
              <div class="badge-number--{{badge.theme}} badge-number extra-bold">{{badge.metric}}</div>
            </div>
            <h5 class="mt-3">{{badge.contest.name}}</h5>
            <div class="card-md">Completed {{badge.metric}} {{badge.contest.name}} Challenges</div>
            <div class="card-mds mt-2 dark-grey">{{moment-format badge.createdAt 'DD MMM YYYY'}}</div>
          </div>
        </div>
        {{/each}}
      </div>
      <span class="font-xl bold"><a href="#">〉</a></span>
    </div>
  {{else}}
    <div class="all-center">
      <div class="t-align-c">
        <img src="/app/images/badge_orange.png" alt="Badge">
        <h4 class="my-2">Badges Earned</h4>
        <p class="my-2">
          You have not earned any badge till now. Practice more to earn badges
        </p>
        <LinkTo class="orange mt-3 extra-bold" @route="practice">
          View Challenges
        </LinkTo>
      </div>
    </div>
  {{/if}}
</div>
