<cb-mobile-verification class="hide-cb-mobile-verification-prompt" />
{{#if navigation.visible}}
  <NavBar />
  <SideNav />
  <div class="row justify-content-center mx-0">
    <div class="offset-1 w-100">
      <cb-navbar topalign="right"></cb-navbar>
    </div>
    <div class="offset-0 offset-md-1 col-11 px-0">
      <div id="outside-element" {{did-insert layout.setOutsideLayout}}></div>
      <div {{did-insert serverTime.startPolling}}></div>
      <div class="container my-4">
        {{outlet}}
      </div>
    </div>
  </div>
{{else}}
  {{outlet}}
{{/if}}
{{#if (not currentUser.user.verifiedmobile)}}
  <script>
    document.getElementsByTagName('cb-mobile-verification')[0].classList.remove('hide-cb-mobile-verification-prompt')  
  </script>
{{/if}}