{{outlet}}
<div class="row">
  <div class="col-md-4 col-12">
    <ProfileCard 
      @user={{user}}/>
  </div>

  <div class="col-12 col-md-8 col-lg-9">
    <SubmissionsHeatMapView 
      @userId={{user.id}}
      @page={{page}}
      @setOffset={{action 'setOffset'}} />

    <ProfileBadges 
      @user={{user.id}} />

    {{#if userHimself}}
      <div class="row">
        <div class="col-lg-6 col-12">
          <RegisteredContests />
        </div>
        <div class="col-lg-6 col-12">
        </div>
      </div>
    {{/if}}
  </div>
</div>