{{outlet}}
<div class="row mb-5">
  <div class="col-12 col-md-4 col-lg-3 ">
    <ProfileCard 
      @user={{user}} />
  </div>

  <div class="col-12 col-md-8 col-lg-9">
    <SubmissionsHeatMapView class="mb-5"
      @userId={{user.id}}
      @page={{page}}
      @setOffset={{action 'setOffset'}}>
    </SubmissionsHeatMapView>

    <ProfileBadges 
      @userId={{user.id}} />

    {{#if userHimself}}
      <div class="row">
        <div class="col-lg-6 col-12">
          <RegisteredContestsView 
            @rowComponent="registered-contests-view/contest-row"/>
        </div>
        <div class="col-lg-6 col-12">
          <BookmarkedProblemsView />
        </div>
      </div>
    {{/if}}
  </div>
</div>