<div id="fullsceen-contest-view" class="code-window flex-col" allow="fullscreen">
  <div
    class="row mx-0 white bg-dark-grey align-items-center justify-content-between py-4 w-100 code-window__top-bar tl">
    <div class="col-xl-6 col-lg-6 col-md-5 col-sm-7 col-12 offset-md-1">
      <div class="row align-items-center pl-3">
        <h2 class="text-ellipses">{{contest.name}}</h2>
        <div class="hoverable ml-3">
          <i class="fas fa-info-circle round orange font-md pulse-red"></i>
          <div class="pop-up w-350x">
            <div class="test-info-popup border-card bg-grey black">
              Note:
              <ul class="bold">
                {{#unless contest.allowPaste}}
                  <li>
                    No Copy/Paste Allowed
                  </li>
                {{/unless}}
                <li>
                  No Multiple Logins Allowed
                </li>
                {{#if contest.disallowTabSwitch}}
                  <li>
                    Tab Switching Prohibited <span class="red">You will get a penalty of {{contest.tabSwitchPenalty}} mins in case you switch tab after 3 faults.</span>
                  </li>
                {{/if}}
                {{#if contest.disallowWindowResize}}
                  <li>
                    Window Resizing Prohibited <span class="red">You will get a penalty of {{contest.windowResizePenalty}} mins every 10 secs if your window is not fullscreen.</span>
                  </li>
                {{/if}}
                {{#if contest.disallowWindowMove}}
                  <li>
                    Window Movement Prohibited <span class="red">You will get a penalty of {{contest.windowMovePenalty}} mins every 10 secs if your window is not fullscreen.</span>
                  </li>
                {{/if}}
                {{#if contest.disallowNoFace}}
                  <li>
                    Face Detection Enabled <span class="red">You will get a penalty of {{contest.noFacePenalty}} mins every 5 secs if your face is not visible in camera after 3 faults.</span>
                  </li>
                {{/if}}
                {{#if contest.disallowMultipleFaces}}
                  <li>
                    Multiple Face Detection Enabled <span class="red">You will get a penalty of {{contest.multipleFacesPenalty}} mins every 5 secs if multiple faces are visible in camera after 3 faults.</span>
                  </li>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="font-sm text-ellipses">This is a timed contest. You have limited attempts to attempt this test.</div>

    </div>
    <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12 mt-sm-0 mt-4">
      <div class="d-flex justify-content-end align-items-center">
        {{#if contest.disallowNoFace}}
          <div class="col-3 br-15">
            <video id="monitorer_live_feed" class="w-100 br-15 {{if monitorer.oneFaceDetected 'border-green' 'border-dark-pink'}}"></video>
          </div>
        {{/if}}
        <div class="mr-4 flex-col align-items-center">
          <Timer @to={{attempt.end_time_moment}} @onEnd={{action (or onTimerEnd (perform submitTask))}} as |time|>
            <ul class="divided-list timer font-xs d-inline">
              <li class="timer-item pr-md-3 pr-2">
                <div class="list-heading font-xl bold">{{time.days}}</div>
                <div class="list-data">Days</div>
              </li>
              <li class="timer-item pr-md-3 pr-2">
                <div class="list-heading font-xl bold">{{time.hours}}</div>
                <div class="list-data">Hours</div>
              </li>
              <li class="timer-item pr-md-3 pr-2">
                <div class="list-heading font-xl bold">{{time.minutes}}</div>
                <div class="list-data">Minutes</div>
              </li>
              <li class="timer-item pr-md-3 pr-2">
                <div class="list-heading font-xl bold">{{time.seconds}}</div>
                <div class="list-data">Seconds</div>
              </li>
            </ul>
          </Timer>
          {{#if (or attempt.tabSwitchCount attempt.windowResizeCount attempt.noFaceCount attempt.multipleFacesCount)}}
          <div class="hoverable pill-sm bg-gradient-pink pulse-red mt-3 py-1 px-2">
            <span class="font-xxs">Penalties</span>
            <div class="border-card border-dark-pink pop-up w-350x l-center pt-2 px-3">
              <div class="font-xxs mt-2 red">
                {{#if contest.disallowTabSwitch}}
                  Total Tab Switches: {{or attempt.tabSwitchCount 0}} | {{or attempt.tabSwitchTimePenaltyMinutes 0}} mins deducted
                {{/if}}
                <br>
                {{#if contest.disallowWindowResize}}
                  Total Window Resizes: {{or attempt.windowResizeCount 0}} | {{or attempt.windowResizeTimePenaltyMinutes 0}} mins deducted
                {{/if}}
                <br>
                {{#if contest.disallowWindowMove}}
                  Total Window Moves: {{or attempt.windowMoveCount 0}} | {{or attempt.windowMoveTimePenaltyMinutes 0}} mins deducted
                {{/if}}
                <br>
                {{#if contest.disallowNoFace}}
                  Total Face Undetected: {{or attempt.noFaceCount 0}} | {{or attempt.noFaceTimePenaltyMinutes 0}} mins deducted
                {{/if}}
                {{#if contest.disallowMultipleFaces}}
                  Total Multiple Faces Detected: {{attempt.multipleFacesCount}} | {{attempt.multipleFacesTimePenaltyMinutes}} mins deducted
                {{/if}}
              </div>
            </div>
          </div>
          {{/if}}
        </div>
        <button class="button-solid button-orange font-sm extra-bold mx-3" {{action (mut showSubmitDialog) true}}>
          Submit Test
        </button>
      </div>
    </div>
  </div>
  <div class="row no-gutters flex-1 w-100">
    <FullScreenProblemList class="col-1 bg-dark-grey code-window__side-bar bl h-100 px-0 t-align-c d-none d-md-block"
      @route={{route}} @contest={{contest}} />
    {{yield}}
  </div>

{{#if showSubmitDialog}}
<ModalDialog @onClose={{action (mut showSubmitDialog) false}} @translucentOverlay={{true}}>
  <div class="br-15 overflow-hidden p-0 bg-white t-align-c">
    <div class="bg-grey py-4">
      <h5>SUBMIT TEST</h5>
    </div>
    <div class="p-5">
      <div>Once submitted, you can no longer view or modify this test. Are you sure you are done, and want to close
        the
        test?</div>
      <div class="row justify-content-center mt-4">
        <button class="button-dashed button-orange font-sm extra-bold mr-2" {{action (mut showSubmitDialog) false}}>
          <i class="fas fa-arrow-left mr-3"></i>
          <span class="d-sm-inline d-none">Take me back</span>
          <span class="d-sm-none d-inline">Back</span>
        </button>
        <button class="button-solid button-orange font-sm extra-bold ml-2" {{action (perform submitTask)}}>
          <span class="d-sm-inline d-none">Yes, I am done with my test</span>
          <span class="d-inline d-sm-none">Submit</span>
        </button>
      </div>
    </div>
  </div>
</ModalDialog>
{{/if}}

  {{#if monitorer.faultTrigger}}
    <ModalDialog
    @onClose={{action 'resetFaultMessages'}}
    @translucentOverlay={{true}}
  >
    <div class="border-card br-20 p-2">
      <div class="border-card bg-gradient-pink white br-20 p-4">
        <h3>Faults</h3>
        <ul>
          <li>
            {{#if monitorer.faultMessages.tabSwitch}}
              <span><i class="fas fa-info-circle font-sm"></i> You switched tab {{attempt.tabSwitchCount}} {{if (eq attempt.tabSwitchCount 1) 'time' 'times'}}.</span>
              {{#if (gt attempt.tabSwitchCount contest.allowedTabSwitchesNumber)}}
                <span>{{contest.tabSwitchPenalty}} minutes deducted.</span>
              {{/if }}
            {{/if}}
          </li>
          <li>
            {{#if monitorer.faultMessages.noFace}}
              <span><i class="fas fa-info-circle font-sm"></i> No Face detected {{attempt.noFaceCount}} {{if (eq attempt.noFaceCount 1) 'time' 'times'}}.</span>
              {{#if (gt attempt.noFaceCount contest.allowedNoFacesNumber)}}
                <span>{{contest.noFacePenalty}} minutes deducted.</span>
              {{/if }}
            {{/if}}
          </li>
          <li>
            {{#if monitorer.faultMessages.multipleFaces}}
              <span><i class="fas fa-info-circle font-sm"></i> Multiple faces detected {{attempt.multipleFacesCount}} {{if (eq attempt.multipleFacesCount 1) 'time' 'times'}}.</span>
              {{#if (gt attempt.multipleFacesCount contest.allowedMultipleFacesNumber)}}
                <span>{{contest.multipleFacesPenalty}} minutes deducted.</span>
              {{/if }}
            {{/if}}
          </li>
          <li>
            {{#if monitorer.faultMessages.windowResize}}
              <span><i class="fas fa-info-circle font-sm"></i> You resized window {{attempt.windowResizeCount}} {{if (eq attempt.windowResizeCount 1) 'time' 'times'}}.</span>
              <span>{{contest.windowResizePenalty}} minutes deducted.</span>
            {{/if}}
          </li>
          <li>
            {{#if monitorer.faultMessages.windowMove}}
              <span><i class="fas fa-info-circle font-sm"></i> You moved browser window {{attempt.windowMoveCount}} {{if (eq attempt.windowMoveCount 1) 'time' 'times'}}.</span>
              {{#if (gt attempt.windowMoveCount contest.allowedWindowMovesNumber)}}
                <span>{{contest.windowMovePenalty}} minutes deducted.</span>
              {{/if }}
            {{/if}}
          </li>
          <li>
            {{#if monitorer.faultMessages.noise}}
              <span><i class="fas fa-info-circle font-sm"></i> Noise detected.</span>
            {{/if}}
          </li>
        </ul>
      </div>
      <div class="border-card p-4 my-3 bg-grey">
        {{#if contest.disallowTabSwitch}}
          Total Tab Switches: <span class="red">{{attempt.tabSwitchCount}} | {{attempt.tabSwitchTimePenaltyMinutes}} mins deducted</span>
        {{/if}}
        <br>
        {{#if contest.disallowWindowResize}}
          Total Window Resizes: <span class="red">{{attempt.windowResizeCount}} | {{attempt.windowResizeTimePenaltyMinutes}} mins deducted</span>
        {{/if}}
        <br>
        {{#if contest.disallowWindowMove}}
          Total Window Moves: <span class="red">{{attempt.windowMoveCount}} | {{attempt.windowMoveTimePenaltyMinutes}} mins deducted</span>
        {{/if}}
        <br>
        {{#if contest.disallowNoFace}}
          Total Face Undetected: <span class="red">{{attempt.noFaceCount}} | {{attempt.noFaceTimePenaltyMinutes}} mins deducted</span>
        {{/if}}
        <br>
        {{#if contest.disallowMultipleFaces}}
          Total Multiple Faces detected: <span class="red">{{attempt.multipleFacesCount}} | {{attempt.multipleFacesTimePenaltyMinutes}} mins deducted</span>
        {{/if}}
      </div>
    </div>
  </ModalDialog>
  {{/if}}
</div>


<div class="bottom-bar">
<WPulse @class="display-inline" @triggered={{monitorer.tabSwitchTrigger }}>
  <div class="white t-align-c bg-gradient-pink font-md w-100 h-100 py-4">
    You Switched the tab. 10 minutes deducted.
  </div>
</WPulse>
<WPulse @class="display-inline" @triggered={{monitorer.windowResizeTrigger}}>
  <div class="white t-align-c bg-gradient-pink font-md w-100 h-100 py-4">
    Your Window is not Fullscreened. 10 minutes deducted.
</div>
</WPulse>
<WPulse @class="display-inline" @triggered={{monitorer.noFaceTrigger}}>
  <div class="white t-align-c bg-gradient-pink font-md w-100 h-100 py-4">
    No face detected in camera. 10 minutes deducted.
  </div>
</WPulse>
<WPulse @class="display-inline" @triggered={{monitorer.multipleFacesTrigger}}>
  <div class="white t-align-c bg-gradient-pink font-md w-100 h-100 py-4">
    Multiple faces detected in camera. 10 minutes deducted.
  </div>
</WPulse>
</div>  