<div class="img-card">
  <div class="head bg-gradient-purple py-4 px-xl-5 px-md-3 px-4 justify-content-center">
    {{#if showProblem}}
      <div class="row justify-content-between no-gutters align-items-center">
        <div class="col-lg-10 col-md-9 col-10">
          <div>
            <h3 class="white-underline d-inline-block pb-3">{{practice.name}}</h3>
          </div>
        </div>
        {{#if practice.logo}}
        <div class="col-lg-2 col-md-3 col-2">
          <img src="{{ practice.logo }}" alt="Logo" />
        </div>
        {{/if}}
      </div>
      <h4 class="bold mt-3">{{problem.name}}</h4>
      <ul class="divided-list">
        <li class="pr-xl-3 pr-md-2 pr-3">
          <div class="list-heading extra-bold yellow">{{problem.difficultyString}}</div>
          <div class="list-data">Dificulty</div>
        </li>
        <li class="px-xl-3 px-md-2 px-3">
          <div class="list-heading extra-bold yellow">{{problem.submissionCount}}</div>
          <div class="list-data">Submissions</div>
        </li>
        <li class="pl-xl-3 pl-md-2 pl-3">
          <div class="list-heading extra-bold yellow">100</div>
          <div class="list-data">Max Pts</div>
        </li>
      </ul>
      <div class="t-align-r mb-2">
        {{#link-to "practice.contest.problem" practice.id problem.id}}
          <button class="button-solid button-white purple mt-3">Continue</button>
        {{/link-to}}
      </div>
    {{else}}
    <div class="d-flex flex-column t-align-c">
      {{#if practice.logo}}
        <img src="{{ practice.logo }}" alt="Logo" class="mt-2 mb-3 mx-auto w-30" />
      {{/if}}
      <h3>{{practice.name}}</h3>
      <ul class="divided-list">
        {{#each practice.tags as |tag|}}
          <li class="px-2">
            <div class="list-data">{{ tag.name }}</div>
          </li>
        {{/each}}
      </ul>
      {{#link-to 'practice.contest' practice.id class="button-solid button-white purple bold mt-4 mb-2 mx-auto"}}
        Solve Challenge
      {{/link-to}}
    </div>
    {{/if}}
  </div>
  {{#if currentLevel}}
    <div class="foot t-align-c p-2 p-lg-3 align-items-center">
      <div class="font-sm bold p-md-0 py-4 my-2">
        <span>Current Level : </span>
        <span class="orange">Level {{ currentLevel.level }}</span>
        <i class="fas fa-crown"></i>
      </div>
      <div class="divider-h w-80 mx-auto my-4"></div>
      <div class="img-desc align-items-center font-sm pt-2 justify-content-center px-md-3 px-2 mt-4 mb-2">
        <div class="pr-0 col-3 col-lg-4 pl-2">
          <img src="{{practice.contest.badgeIcon}}" alt="BadgeIcon">
        </div>
        <div class="description ml-3 t-align-l col-lg-8 col-9 pl-0">
          <h5>Unlock Badge</h5>
          <span class="card-md mt-1">{{sub currentLevel.nextRequiredSubmissionCount currentLevel.perfectSubmissionCount}} more problems to Level-{{currentLevel.nextLevel}}</span>
          <div class="row mx-0">
            <div class="col-10 px-0">
              <progress value="{{progress}}" max="100" class="my-3 w-90 d-inline-block"></progress>
            </div>
            <div class="col-2 px-0">
              <span class="card-md bold float-right mt-2 pt-1">{{currentLevel.perfectSubmissionCount}}/{{currentLevel.nextRequiredSubmissionCount}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="foot t-align-c p-2 p-lg-3 align-items-center">
      <div class="font-sm bold p-md-0 py-4 my-2">
        <span>Current Level : </span>
        <span class="orange">Level 0</span>
        <i class="fas fa-crown"></i>
      </div>
      <div class="divider-h w-80 mx-auto my-4"></div>
      <div class="img-desc align-items-center font-sm pt-2 justify-content-center px-md-3 px-2 mt-4 mb-2">
        <div class="pr-0 col-3 col-lg-4 pl-2">
          <img src="{{practice.contest.badgeIcon}}" alt="BadgeIcon">
        </div>
        <div class="description ml-3 t-align-l col-lg-8 col-9 pl-0">
          <h5>Unlock Badge</h5>
          <span class="card-md mt-1">1 more problems to Level-1</span>
          <div class="row mx-0">
            <div class="col-10 px-0">
              <progress value="0" max="100" class="my-3 w-90 d-inline-block"></progress>
            </div>
            <div class="col-2 px-0">
              <span class="card-md bold float-right mt-2 pt-1">0/1</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>