<div class="col-md-11 col-12 offset-md-1">
  <FullScreenQuizView
    class="row no-gutters overflow-hidden code-window__code-area"
    @changeQuestion={{changeQuestion}}
    @quiz_attempt={{quiz_attempt}}
    @index={{q}}
    @quiz={{quiz}}
    @contest={{contest}} />
</div>
