<div class="border-card py-5 px-4">
  {{#if fetchPerformanceTask.isRunning}}
    <LoadingComponent />
  {{else}}
    <div class="row mx-0 justify-content-center">
      <div class="col-4 b-right">
        <div class="mx-auto">
          <h4 class="mb-3">All Time Best</h4>
          <div class="font-mdxl extra-bold orange">#{{performance.bestRank}}</div>
          <div class="extra-bold">Achieved on {{moment-format (moment performance.bestRankAchievedOn) 'DD MMM YYYY'}}</div>
        </div>
      </div>
      <div class="col-4 b-right">
        <h4 class="mb-3">Current Ranking</h4>
        <div class="font-mdxl extra-bold">{{performance.currentOverallRank}}</div>
        {{#if (gt performance.currentOverallRank performance.previousOverallRank)}}
          <div class="extra-bold red v-align-ma">
            <i class="fas fa-caret-down mr-2 fa-2x"></i>
            {{sub performance.currentOverallRank performance.previousOverallRank}} Ranks from last month
          </div>
        {{else}}
          <div class="extra-bold green v-align-ma">
            <i class="fas fa-caret-up mr-2 fa-2x"></i>
            {{sub performance.previousOverallRank performance.currentOverallRank}} Ranks from last month
          </div>
        {{/if}}
      </div>
      <div class="col-4">
        <h4 class="mb-3">Performance</h4>
        <div class="font-mdxl extra-bold">{{performance.currentMonthScore}} Points</div>
        {{#if (gt performance.currentMonthScore performance.previousMonthScore)}}
          <div class="extra-bold green v-align-ma">
            <i class="fas fa-caret-up mr-2 fa-2x"></i>
            {{sub performance.currentMonthScore performance.previousMonthScore}} Points from last month
          </div>
        {{else}}
          <div class="extra-bold red v-align-ma">
            <i class="fas fa-caret-down mr-2 fa-2x"></i>
            {{sub performance.previousMonthScore performance.currentMonthScore}} Points from last month
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>