<FullScreenContestView
  @route="contests.hiring.contest.attempt"
  @attempt={{contest_attempt}}
  @submitTask={{submitTask}}
  @onTimerEnd={{action 'onTimerEnd'}}
  @contest={{contest}}>
  <div class="col-11 offset-1">
    <FullScreenProblemView
      @problem={{problem}}
      @contest={{contest}} />
  </div>
</FullScreenContestView>
