<ContestView
  @contest={{contest}}
  @page={{page}}
  @status={{status}}
  @difficulty={{difficulty}}
  @problemListRoute="competitions.id.contest-archive.problem"
  @contentTypeId={{competition.id}}
  @setOffset={{action 'setOffset'}} as |contestView|>
  <div class="border-card mt-5 px-0">
    {{contestView.leaderboardComponent}}
  </div>
</ContestView>
