<div class="divider-h w-40 mx-auto"></div>

<div class="t-align-c mt-3 bold">
  <a href="#" {{action setOffset pagination.prevOffset}} disabled={{eq pagination.currentPage 1}}>
    &lt; Prev
  </a>
  <span class="grey mx-4">
    {{or (inc pagination.currentOffset) 1}} - {{or pagination.nextOffset pagination.count}} of {{pagination.count}}
  </span>
  <a href="#" {{action setOffset pagination.nextOffset}} disabled={{not pagination.nextOffset}}>
    Next &gt;
  </a>
</div>
