<div class="img-card p-5 hb-tab-nav">
  <div class="tab-nav-underline">
    <div 
      class="tab {{if (eq selectedTab "problem") "active"}} py-4 pointer"
      {{action (mut selectedTab) "problem"}}>
      Problem
    </div>
    <div 
      class="tab {{if (eq selectedTab "submissions") "active"}} py-4 pointer"
      {{action (mut selectedTab) "submissions"}}>
      Submissions
    </div>
    <div 
      class="tab {{if (eq selectedTab "leaderboard") "active"}} py-4 pointer"
      {{action (mut selectedTab) "leaderboard"}}>
      Leaderboard
    </div>
    <div 
      class="tab {{if (eq selectedTab "discuss") "active"}} py-4 pointer"
      {{action (mut selectedTab) "discuss"}}>
      Discuss
    </div>
    <div 
      class="tab {{if (eq selectedTab "solution") "active"}} py-4 pointer"
      {{action (mut selectedTab) "solution"}}>
      Solution
    </div>
  </div>

  {{#liquid-if (eq selectedTab "problem")}}
  <ProblemExplanation
    @problem={{problem}} />
  {{else if (eq selectedTab "submissions")}}
  <SubmissionsList 
    @contest={{contest}}
    @problem={{problem}} />
  {{else if (eq selectedTab "leaderboard")}}
  <LeaderboardView
    class="pt-5"
    @for="problem"
    @contestId={{contest.id}}
    @problemId={{problem.id}}
    @allowFilter=true 
    @columns={{array 'college'}} />
  {{else if (eq selectedTab "solution")}}
  <SolutionComponent 
    @contest={{contest}}
    @problem={{problem}} />
  {{else if (eq selectedTab "discuss")}}
    <ProblemDiscussView
      @contest={{contest}}
      @problem={{problem}}
    />
  {{/liquid-if}}
</div>
<div class="border-card p-0 border-none w-100">
  <CodeEditorComponent 
    class="py-4 code-editor--height"
    @innerLayoutClass="br-15"
    @problem={{problem}}
    @contest={{contest}} as |ResultView|>
    <ResultView class="mt-5" />
  </CodeEditorComponent>
</div>
