<div class="border-card p-lg-5 p-4">
  <div class="row no-gutters align-items-center justify-content-between">
    <div class="col-8">
      <h4>FILTER PROBLEMS</h4>
    </div>
    {{!-- <button class="button-solid button-orange" {{action onApply}}>Apply</button> --}}
  </div>
  <div class="font-mds bold my-4">Status</div>
  <div class="row no-gutters mb-3">
    <div class="col-6">
      <label class="input-checkbox checkbox-solid">
        <input type="checkbox" checked={{includes status "solved"}} onClick={{action updateStatusFilter "solved"}}> Solved
        <span></span>
      </label>
    </div>
    <div class="col-6">
      <label class="input-checkbox checkbox-solid">
        <input type="checkbox" checked={{includes status "unsolved"}} onClick={{action updateStatusFilter "unsolved"}}> Unsolved
        <span></span>
      </label>
    </div>
  </div>
  <div class="row no-gutters mb-3">
    <div class="col-6">
      <label class="input-checkbox checkbox-solid">
        <input type="checkbox" checked={{includes status "wrong"}} onClick={{action updateStatusFilter "wrong"}}> Wrong
        <span></span>
      </label>
    </div>
    <div class="col-6">
      <label class="input-checkbox checkbox-solid">
        <input type="checkbox" checked={{includes status "partial"}} onClick={{action updateStatusFilter "partial"}}> Partially Solved
        <span></span>
      </label>
    </div>
  </div>
  <div class="font-mds bold mt-5 mb-4">Difficulty</div>
  <div class="row no-gutters mb-3">
    <div class="col-4">
      <label class="input-checkbox checkbox-solid">
        <input type="checkbox" checked={{includes difficulty 1}} onClick={{action updateDifficultyFilter 1}}>Easy
        <span></span>
      </label>
    </div>
    <div class="col-4">
      <label class="input-checkbox checkbox-solid">
        <input type="checkbox" checked={{includes difficulty 2}} onClick={{action updateDifficultyFilter 2}}>Medium
        <span></span>
      </label>
    </div>
    <div class="col-4">
      <label class="input-checkbox checkbox-solid">
        <input type="checkbox" checked={{includes difficulty 3}} onClick={{action updateDifficultyFilter 3}}>Hard
        <span></span>
      </label>
    </div>
  </div>
  {{#if tags}}
    <div class="font-mds bold mt-5 mb-4">Category</div>
    <div class="row no-gutters mb-3">
      <div class="col-12">
        <PowerSelect
          @search={{action (perform searchTagsTask)}}
          @options={{availableTags}}
          @selected={{tags}}
          @onchange={{action updateTagFilter}} as |tag|>
          {{tag.name}}
        </PowerSelect>
      </div>
    </div>
  {{/if}}
</div>