<CodeWindow 
  class="c-code-card w-100 flex-col {{unless fullScreen "code-editor--height" "h-100"}}"
  @input={{problem.content.sample-input}}
  @codeStubs={{problem.solutionStubs}}
  @allowedLanguages={{contest.allowedLanguages}}
  @onRunTask={{onRunTask}} 
  @onSubmitTask={{onSubmitTask}} 
  @disablePaste={{fullScreen}}
  class="overflow-hidden {{innerLayoutClass}}" /> 

<div class="result">
  {{#if submitSpam}}
    <div class="{{unless fullScreen "border-card"}} p-5 bg-grey">
      <h4>Too many submission requests. Try Again in few seconds</h4>
    </div>
  {{/if}}
  {{yield (component resultComponent judgeResult=lastResult)}}
</div>

{{#if showAwardedBadge}}
  <AwardBadgeComponent 
    @badge={{badge}} 
    @type={{if (eq badge.contest.contest_type 'dcb') 'streak' 'fibonacci'}}
    @onClose={{action (mut showAwardedBadge) false}}/>
{{/if}}