<MonacoEditor
  @language={{selectedLanguage.mode}}
  @code={{code}}
  @onChange={{action (mut code)}}
  @theme={{"dark"}} />
  <div class="editor-options row no-gutters justify-content-between">
      <div class="row no-gutters">
        <div class="select-list align-self-center pl-3">
          <div
            class="select-box pointer row justify-content-between align-items-center p-2"
            onclick={{action "toggleLanguageSelectOpen"}}
          >
            {{selectedLanguage.name}}
            {{#if isLanguageSelectOpen}}
              <span>
                <i class="fas fa-angle-up"></i>
              </span>
            {{else}}
              <span>
                <i class="fas fa-angle-down"></i>
              </span>
            {{/if}}
          </div>
          <div
            class="open-select-box {{if isLanguageSelectOpen "display-block"}}"
          >
            <ul>
              {{#each allLanguages as |language|}}
                <li class="pointer" {{action selectLanguage language}}>
                  {{language.name}}
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="row p-0">
        <div class="align-self-center pl-3">
          <div class="button-solid">
            <button {{action onRun selectedLanguage code}}>Run</button>
          </div>
          <div class="button-solid">
            <button {{action onSubmit selectedLanguage code}}>Submit</button>
          </div>
        </div>
      </div>
    </div>
