<CodeWindow 
  @input={{problem.content.sample-input}}
  @codeStubs={{problem.solutionStubs}}
  @allowedLanguages={{contest.allowedLanguages}}
  @onRunTask={{onRunTask}} 
  @onSubmitTask={{onSubmitTask}} 
  class="overflow-hidden {{innerLayoutClass}}" /> 

<div class="result">
  {{yield (component resultComponent judgeResult=lastResult)}}
</div>
  