<CodeWindow 
  class="c-code-card w-100 flex-col {{unless fullScreen "code-editor--height" "h-100"}}"
  @input={{content.problem.details.sample_input}}
  @codeStubs={{content.problem.solutionStubs}}
  @allowedLanguages={{contest.allowedLanguages}}
  @onRunTask={{submission.runCodeTask}} 
  @onSubmitTask={{submitCodeTask}}
  @allowPaste={{contest.allowPaste}}
  @storageKey={{storageKey}}
  @submission={{copiedSubmission}}
  class="overflow-hidden {{innerLayoutClass}}" /> 

{{#if (or submission.codeTaskGroup.isRunning lastResult)}}
  <div class="result {{unless fullScreen "mt-5"}}">
    {{#if submitSpam}}
      <div class="{{unless fullScreen "border-card"}} p-5 bg-grey">
        <h4>Too many submission requests. Try Again in few seconds</h4>
      </div>
    {{/if}}
    <SubmissionResult 
      @fullScreen={{fullScreen}}
       @allowedLanguages={{contest.allowedLanguages}}

      @judgeResult={{if (not submission.codeTaskGroup.isRunning) lastResult}} />
  </div>
{{/if}}

{{#if showAwardedBadge}}
  <AwardBadgeComponent 
    @badge={{badge}} 
    @type={{if (eq badge.contest.contest_type 'dcb') 'streak' 'fibonacci'}}
    @onClose={{action (mut showAwardedBadge) false}}/>
{{/if}}