<CodeWindow 
  class="c-code-card h-100 w-100 flex-col"
  @input={{problem.content.sample-input}}
  @codeStubs={{problem.solutionStubs}}
  @allowedLanguages={{contest.allowedLanguages}}
  @onRunTask={{onRunTask}} 
  @onSubmitTask={{onSubmitTask}} 
  class="overflow-hidden {{innerLayoutClass}}" /> 

<div class="result">
  {{yield (component resultComponent judgeResult=lastResult)}}
</div>

{{#if showAwardedBadge}}
  <AwardBadgeComponent 
    @badge={{badge}} 
    @type={{if (eq badge.contest.contest_type 'dcb') 'streak' 'fibonacci'}}
    @onClose={{action (mut showAwardedBadge) false}}/>
{{/if}}