<div class="border-card px-5 py-4 bg-black white mt-3">
  <div class="d-flex align-items-center justify-content-between">
    <div class="row no-gutters col-md-9 col-12 align-items-center">
      <div class="col-md-4 col-12 pr-2">
        <h3>{{contest.name}}</h3>
      </div>
      <div class="col-12 col-md-8 my-lg-0 my-4">
        <ul class="divided-list my-0">
          <li class="pr-4">
            <div class="list-heading font-md extra-bold mb-2 orange">{{problemCount}}</div>
            <div class="list-data font-mds">Problems</div>
          </li>
          <li class="px-4">
            <div class="list-heading font-md extra-bold mb-2 orange">{{moment-format contest.start_time 'D MMM'}}</div>
            <div class="list-data font-mds">Starts</div>
          </li>
          <li class="pl-4">
            <div class="list-heading font-md extra-bold mb-2 orange">{{moment-format contest.end_time 'D MMM'}}</div>
            <div class="list-data font-mds">Ends</div>
          </li>
        </ul>
      </div>
    </div>
    <div>
      {{#if contest_attempt}}
        {{#link-to
          route
          class="button-solid button-orange font-sm extra-bold my-3"
        }}
          Resume Challenge
        {{/link-to}}
      {{else}}
        <button
          class="button-solid button-orange font-sm extra-bold my-3"
          {{action (toggle 'showStartDialog' this)}} >
          Start Challenge
        </button>
      {{/if}}
    </div>
  </div>
</div>
<div class="font-xs mt-5">
  <div class="bold">Instructions</div>
  {{markdown-to-html contest.description}}
</div>

{{#if showStartDialog}}
<ModalDialog
  @onClose={{action (mut showStartDialog) false}}
  @translucentOverlay={{true}}
>
  <div class="br-15 overflow-hidden p-0 bg-white t-align-c">
    <div class="bg-grey py-4">
      <h5>START TEST</h5>
    </div>
    <div class="p-5">
      <div>
        Click below to start this contest. Note that if you close your
        browser, your session will resume from where you left off, but the
        timer will NOT stop.
      </div>
      <div>
        {{#if createAttemptTask.last.isError}}
          <span class="red">
            Maximum number of contest attempts reached.
          </span>
        {{/if}}
      </div>
      <div class="row justify-content-center mt-4">
        <button  
          class="button-dashed button-orange font-sm extra-bold mr-2"
          {{action (mut showStartDialog) false}} >
          <i class="fas fa-arrow-left mr-3"></i>
          <span class="d-sm-inline d-none">Take me back</span>
          <span class="d-sm-none d-inline">Back</span>
        </button>
        <button 
          class="button-solid button-orange font-sm extra-bold ml-2"
          {{action (perform createAttemptTask)}}>
          <span class="d-sm-inline d-none">Yes, start with my test</span>
          <span class="d-inline d-sm-none">Start</span>
        </button>
      </div>
    </div>
  </div>
</ModalDialog>
{{/if}}
