<div class="border-card p-xl-4 p-3 bg-gradient-dblue-lr white h-100">
  <div style="height: 4.5rem">
    <h5 class="bold">{{contest.name}}</h5>
    <div>Ended {{moment-format contest.end_time 'DD MMM'}}</div>
  </div>
  <ul class="divided-list my-4">
    <li class="px-xl-2 px-sm-1 px-2">
      <div class="list-heading font-mds extra-bold orange">{{problemCount}}</div>
      <div class="list-data">Problems</div>
    </li>
    <li class="px-xl-2 px-sm-1 px-2">
      <div class="list-heading font-mds extra-bold orange">{{contest.stats.participantcount}}</div>
      <div class="list-data">Participants</div>
    </li>
  </ul>
  <div class="font-sm extra-bold t-align-r">
    <button 
      class="orange"
      {{action onParticipate}}>
      Solve Challenge
      <i class="fas fa-arrow-right mx-3"></i>
    </button>
  </div>
</div>