{{#unless (eq judgeResult.result "success")}}
  <div class="{{unless fullScreen "border-card mb-5"}} p-0">
    {{#if (eq judgeResult.result "compile_error")}}
      {{run-result/error-run-message}}
    {{else if (not (eq judgeResult.result "success"))}}
      {{run-result/judgement-delay-run-message}}
    {{/if}}
  </div>
{{/unless}}

<div class="{{unless fullScreen "border-card"}} p-5">
  {{#if (eq judgeResult.result "compile_error")}}
    <h2>Compilation Error</h2>
  {{else if (eq judgeResult.result "success")}}
    <h2>Compiled Successfully</h2>
  {{else}}
    <h2>Submission not judged, try again later</h2>
  {{/if}}
  <span class="font-sm">Check the compiler output, fix the error and try again.</span>

  <div class="divider-h"></div>

  <span class="font-sm bold">Compiler Message</span>
  <div class="bg-grey p-2">
    <pre class="p-2">{{output}}</pre>
  </div>
</div>