<div class="py-4">
  {{#if submissions}}
    <h4 class="mb-5 pt-4">My Submissions</h4>
    <table class="w-100">
      <thead class="font-sm extra-bold b-bottom">
        <td class="pb-2">Result</td>
        <td class="pb-2">Score</td>
        <td class="pb-2">Time</td>
        <td class="pb-2">Language</td>
      </thead>
      <tbody class="bold">
        {{#each submissions as |submission|}}
          <tr>
            <td class="pb-4 pt-4 {{submission.resultParams.color}} font-sm">
              <i class="{{submission.resultParams.icon}} pr-3"></i>
              <span>{{submission.resultParams.message}}</span>
            </td>
            <td class="pb-4 pt-4">{{submission.score}}/100</td>
            <td class="pb-4 pt-4">{{submission.executionTime}}</td>
            <td class="pb-4 pt-4">{{submission.language}}</td>
            <td class="pb-4 pt-4 t-align-r">
              <a 
                class="pr-3 orange pointer" 
                role="button"
                onclick={{action "viewSubmission" submission}}
              >
                View
              </a>
              <span class="normal">{{submission.submitAtHumanize}}</span> 
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="t-align-c">
      <img src="/app/images/submission_orange.png" alt="Submission Icon" width="58">
      <h4>My Submissions</h4>
      <p>
        You haven't made a submission to this problem yet
      </p>
    </div>
  {{/if}}
  {{submissions-list/analytics-graph contest=contest problem=problem}}
</div>

{{#if showModal}}
  {{#submissions-list/submission-modal 
    submission=SelectedSubmission
    onClose=(action (mut showModal) false)
  }}
  {{/submissions-list/submission-modal }}
{{/if}}
